<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') -%>
</head>
<body >
    <header>
        <%- include('partials/header') -%>
    </header>
    <main>
        <div class="jumbotron">
          <p>We have been waiting for you</p>
          <p>Here at freeDevstuff, we love to help you get started in your coding career at the cost of 30mins day commitment</p>
        </div>
      </main>
    <footer>
        <%- include('partials/footer') -%>
    </footer>
</body>
</html>