<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/head") -%>
</head>
<body>
    <header>
        <%- include("partials/header") -%>
    </header>
    <main>
        <div class="jumbotron">
            <p>We make your dev-life easier, trust me when i say that</p>
        </div>
        
    </main>
    <footer>
        <%- include('partials/footer') -%>
    </footer>
</body>
</html>